@tailwind base;
@tailwind components;
@tailwind utilities;

/* font and typography */

@layer base {
  body {
    font-family: "Nunito", sans-serif;
  }

  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  }
}

@layer components {
  .sidebar {
    @apply w-[calc(68px+156px)] fixed top-14 md:top-0  -left-[100%]  h-full bg-[#1e293b] transition-all duration-[0.5s]  shadow-md z-40 rounded-tr-md md:rounded-tr-none;
  }

  .show__sidebar {
    @apply left-0;
  }

  .sidebar__icon {
    @apply text-xl;
  }

  .widget {
    @apply w-[calc(68px+250px)] fixed top-5 -right-[100%]  h-full bg-[#1e293b] transition-all duration-[0.5s] z-50 shadow-md;
  }

  .show__widget {
    @apply right-0;
  }

  .transition-5 {
    @apply transition-all duration-[0.5] ease-out;
  }

  .input {
    @apply w-full rounded bg-[#333] px-5 py-1.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }

  .background {
    background: linear-gradient(
      to right,
      rgb(19 47 76 / 0.5) 0%,

      rgb(19 47 76 / 0.2) 100%
    );
    animation: loaderSwipeAnim 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes loaderSwipeAnim {
    0% {
      left: -100%;
    }

    100% {
      left: 100%;
    }
  }

  .popOverBtnStyles {
    @apply flex items-center gap-4 py-1 px-3 rounded-lg text-white/50 hover:bg-[#132f4c]/50 transition-5;
  }

  .modalBtn {
    @apply flex h-11 w-11 items-center justify-center rounded-full bg-[#2a2a2a]/50 transition hover:border-white hover:bg-white/10 cursor-pointer;
  }

  .icon {
    @apply p-1 rounded-lg ring-1 ring-[#132f4c] hover:bg-[#132f4c]/50 cursor-pointer w-[30px] h-[30px] flex justify-center items-center transition-5;
  }

  /* the modal */
  .modal-wrapper {
    @apply fixed top-0 left-0 w-full h-full  grid place-items-center invisible  z-50 transition-all transform ease-in duration-300 scale-[0] bg-[#00000080] pt-32;
  }

  .modal-wrapper.show {
    @apply visible z-50 scale-[1];
  }

  .modal {
    @apply w-[90vw] max-w-[650px] bg-gray-900 relative  rounded-3xl overflow-clip;
  }

  .autoHeight {
    @apply h-auto;
  }

  .modalHeight {
    @apply h-[55vh];
  }
}
